blockquote {
	background: #f9f9f9;
	border-left: 3px solid #ccc;
	margin: 0.25em 2px;
	padding: 0.15em 2px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
	font-size: small;
}

.item-container
{
	position:relative;
	display:block;
	left: 0px;
	/*min-height: 80px;*/
	/*width:100%;*/
	margin-bottom:2px;
	background-color: #FFFFFF;
	border-radius: 2px;
}
.item 
{
	
	height: 50px;
	width: 100%;
	padding: 4px;
	background-color: #FFFFFF;
	color: #000000;
}
.item-sticky
{
	height: 50px;
	width: 100%;
	padding: 4px;
	background-color: #FFF0A4;
}
.item-sticky:hover
{
	background-color: #FFE34E;
	height: 50px;
	padding: 4px;
	width: 100%;
	border-radius: 2px;
}
.item:hover
{
	background-color: #FFE34E;
	height: 50px;
	padding: 4px;
	width: 100%;
	border-radius: 2px;
}
.item-icons {
	width: 20px;
	height: 50px;
	margin: 0;
	padding: 4px;
	border-radius: 2px;
}
.item-empty {
	width: 0px;
	height: 0px;
	margin: 0;
	padding: 0;
	border-radius: 0px;
	background-color: #FFFFFF;
}
.thread
{
	position:relative;
	left: 0px;
	height: 40px;
	width:100%;
	background-color: #FFF0A4;
}
.thread:hover
{
	background-color: #FFE34E;
}
.post
{
	position:relative;
	display:block;
	color: black;
	left: 0px;
	min-height: 80px;
	/*width:100%;*/
	margin-bottom:2px;
	background-color: #FFFFFF;
	/* border-radius: 2px; */
}
.post td
{
	background-color:transparent;
	vertical-align:top;
}
.post b /*title*/
{
	color: Maroon;
}
.post-td
{
	width:100%;
}
.post-content
{
	width:100%;
}
.post-content p
{
	background-color : transparent;
}
.postbuttons {
	height: 20px;
}
.post-area
{
	margin: 4px;
}
.post-area-submit
{
	margin: 4px;
	float: right;
}
.avatar
{
	height: 72px;
	width: 80px;
}
.avatar img
{
	height: 72px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.user-info
{
	font-size: 8pt;
}
.userbar
{
	/* background:#A4B9F1; */
	width: 80px;
	height: auto;
}
.username
{
	font-weight: bold;
	text-align: center;
}
.rank
{
	text-align: center;
	font-size: small;
}
.postbuttons {
	width: 80px;
	text-align: center;
}
.postedon {
	font-size: small;
}
.up {
	width: 100%;
}
.signature p {
	margin: 0;
	padding: 0;
	font-size: small;
}
.op 
{
	font-style: italic;
}
.small {
	font-size: x-small;
}
.newPtb {
	margin-bottom: 4px;
	text-align: center;
}